/* Estilos para la cuadrícula de productos */

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px; /* Menor espacio entre las tarjetas */
  margin: 15px 0;
  padding: 5px; /* Menos padding para reducir el espacio */
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 6px; /* Reducción del padding */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 320px; /* Ancho máximo para las tarjetas */
  margin: 0 auto; /* Centrado automático */
}

.product-card:hover {
  transform: translateY(-3px); /* Menos movimiento en hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 6px; /* Menos margen abajo */
}

.product-card h2 {
  font-size: 0.9rem; /* Fuente más pequeña */
  margin: 6px 0; /* Menos espacio alrededor */
  color: #333;
}

.product-card p {
  font-size: 0.8rem; /* Más pequeño aún */
  color: #555;
  margin: 3px 0; /* Menos espacio entre párrafos */
}

.product-card strong {
  color: #000;
  font-weight: bold;
}

.product-card a {
  display: inline-block;
  margin-top: 6px;
  padding: 4px 10px; /* Botón más pequeño */
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.product-card a:hover {
  background-color: #0056b3;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background: darkred;
}


/* Asegurarse de que el diseño responda correctamente en pantallas más pequeñas */
@media (max-width: 768px){
  .product-grid {
      grid-template-columns: repeat(3, 1fr);
  }
  .main-content {
    padding: 0 10px;
  }
  
}
