/* Footer */
.footer-container {
  position: -webkit-sticky;
  position: relative;
  bottom: 0;
  width: 99.9%;
  height: 160px;  /* Ajusta la altura como prefieras */
  background: linear-gradient(to right, #279ead, #2a1d3f, #1a1a1a); /* Gradiente más sutil */
  color: white;
  padding: 1px 0;  /* Reducir el padding vertical */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 160px;
  z-index: 1;
  opacity: 0.9;  /* Reduce la opacidad para un brillo más suave */
  transition: opacity 0.3s ease-in-out;
}

/* Pseudo-elemento para el borde animado */
.footer-container::before {
  content: "";
  position: absolute;
  top: -2px; left: -2px; right: -2px; bottom: -2px;
  background: linear-gradient(to right, #000000 50%, #15545c, #278b7e, #1d6faa, #1c665c, #0f3e44); /* Menos saturación */
  background-size: 200% 100%; /* Área de animación más pequeña */
  background-position: 50% 50%;
  z-index: -1;
  border-radius: 5px;
  animation: animate-border 10s ease-in-out infinite; /* Animación más lenta */
}

/* Animación del borde */
@keyframes animate-border {
  0% { background-position: 50% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 50% 50%; }
}



.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  /* Tres columnas en una fila */
  gap: 10px;  /* Reducir el espacio entre las columnas */
  width: 100%;
  max-width: 1000px; /* Limitar el ancho máximo */
  box-sizing: border-box; /* Asegura que el padding no haga que el contenido se desborde */
  align-items: center;  /* Centrado vertical */
  justify-items: center;  /* Centrar los items de cada columna */
  min-height: 100px;  /* Asegurar que haya espacio suficiente para centrar los elementos */
}

.footer-contact h4,
.footer-links h4 {
  font-size: 0.8rem;  /* Ajustar el tamaño de la fuente */
  color: #7de7e2;  /* Color blanco para los encabezados */
  margin-bottom: 0px;  /* Espacio debajo del encabezado */
  font-weight: bold;  /* Hacer que el texto esté en negrita */
  text-transform: uppercase;  /* Convertir el texto a mayúsculas */
}


.footer-logo {
    display: flex;
    align-items: center; /* Centra el logo verticalmente */
    justify-content: flex-start; /* Alinea el logo a la izquierda */
    width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
  }
  
  .footer-logo-image {
    width: 120px; /* Reducir el tamaño del logo */
    height: auto;
    margin-right: 5px; /* Menos espacio entre logo y los datos de contacto */
  }
  

.footer-contact {
  display: flex;
  flex-direction: column;
  width: 100%;  /* Ajustar a todo el ancho disponible */
  text-align: center; /* Asegurar que el texto esté centrado dentro de la columna */
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;  /* Centrado vertical */
    text-align: left; /* Asegurar que los enlaces estén centrados dentro de la columna */
  }
  
  .footer-links a {
    text-decoration: none; /* Elimina el subrayado */
    color: white;  /* Asegura que el texto sea blanco */
  }

  .footer-links ul {
    list-style-type: circle;

  padding-left: 20px; /* Asegura que haya un poco de espacio a la izquierda */
}

.footer-links li {
  margin-bottom: 5px; /* Ajusta el espacio entre los elementos de la lista */
}
  

.footer-footer {
  text-align: center;
  font-size: 0.7rem;  /* Reducir el tamaño del texto */
  margin-top: 6px;  /* Menos espacio arriba */
  width: 100%; /* Asegura que el footer esté centrado */
  grid-column: span 3;  /* Ocupa las tres columnas */
}

/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: 60%;
  max-width: 400px; /* Reducido el tamaño máximo */
  text-align: center;
  color: #000000;
}

.close-button {
  color: #fff; /* Texto blanco */
  background-color: red; /* Fondo rojo */
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  padding: 5px 10px; /* Añadir algo de padding para hacerlo más visible */
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Efecto de transición al pasar el mouse */
}

.close-button:hover {
  background-color: darkred; /* Cambiar el color al pasar el ratón */
}


.returns-image {
  width: 60% !important; /* Forzar que la imagen se haga más pequeña */
  height: auto !important;
  margin-top: 4px !important; /* Menos margen */
}

/* Modo móvil (menos de 768px) */
@media (max-width: 768px) {
  
  
  /* Footer info (ya no es necesario usar grid-template-columns) */
  .footer-info {
    display: flex;
    justify-content: space-between;  /* Alineación flexible de los elementos */
    width: 97%;
  }
  .footer-contact h4,
.footer-links h4 {
  font-size: 0.7rem;  /* Ajustar el tamaño de la fuente */
  color: #7de7e2;  /* Color blanco para los encabezados */
  font-weight: bold;  /* Hacer que el texto esté en negrita */
  text-transform: uppercase;  /* Convertir el texto a mayúsculas */
}
.footer-contact p {
  font-size: 0.7rem;
}
 .footer-links li{
  font-size: 0.7rem;
  margin-bottom: 3px;
}
  
  /* Footer footer (ajustado para que esté dentro del contenedor común) */
  .footer-footer {
    text-align: center;
    font-size: 0.7rem;  /* Reducir el tamaño del texto */
    width: 100%; /* Asegura que el footer esté centrado */
    margin-top: 30px; /* Más espacio arriba para separar del contenido */
  }
  .footer-logo-image {
    width: 90px; /* Reducir el tamaño del logo */
    height: auto;
    padding-left: 15px;
  }
  
  
}