/* Header principal */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 98.3%;
  height: 75px; /* Ajusta la altura */
  background: linear-gradient(to right, #000000, #0c0b18, #1c6f7a, #38c9b6, #279ead);
  color: white;
  padding: 5px 15px; /* Reduce el padding para que no crezca tanto */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: background 0.3s ease-in-out, opacity 0.5s ease;
  z-index: 1000;
  opacity: 1;
}


/* Pseudo-elemento para el borde animado */
.header::before {
  content: "";
  position: absolute;
  top: -2px; left: -2px; right: -2px; bottom: -2px; /* Aumenta el tamaño para que parezca un borde */
  background: linear-gradient(to right, #000000 50%, #1c6f7a, #38c9b6, #279ead, #38c9b6, #1c6f7a);
  background-size: 170% 100%; /* Ajusta el área de animación */
  background-position: 20% 20%; /* Mantiene el negro en la mitad */
  z-index: -1; /* Lo pone detrás del header */
  border-radius: 5px; /* Bordes redondeados */
  animation: animate-border 7s ease-in-out infinite; /* Animación suave */
}
/* Efecto de desvanecimiento cuando se hace scroll */
body.scroll .header {
  opacity: 0.7; /* Opacidad reducida cuando se hace scroll */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9); /* Sombra más suave al hacer scroll */
}
/* Cuando el cursor está sobre el header, se elimina la opacidad */
.header:hover {
  opacity: 1 !important; /* Restablece la opacidad al 100% al poner el cursor encima */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Restablece la sombra normal */
}


/* Definir la animación del borde */
@keyframes animate-border {
  0% { background-position: 50% 50%; } /* Mantiene la izquierda negra */
  50% { background-position: 100% 50%; } /* Mueve la parte derecha */
  100% { background-position: 50% 50%; } /* Regresa */
}




/* Logo */
.logo h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
}

.logo h1:hover {
  transform: scale(1.1); /* Aumenta el tamaño del logo al pasar el ratón */
}

/* Barra lateral */

.sidebar {
  z-index: 1000;
  position: fixed;
  top: 86px; /* Mueve la barra lateral hacia abajo desde la parte superior */
  left: -270px; /* Barra lateral inicialmente escondida */
  width: 250px;
  height: calc(100% - 0px); /* Ajusta la altura para que se reduzca desde arriba */
  background: linear-gradient(to bottom, #000000, #0c0b18, #279ead); /* Negro → Morado → Azul */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Centra los elementos en el eje vertical */
  align-items: flex-end; /* Pega los elementos a la parte derecha */
  gap: 15px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
  opacity: 0.95;
}


/* Agranda la barra lateral al pasar el cursor */
.sidebar:hover {
  transform: translateX(150px); /* Mueve la barra lateral a la vista */
}

/* Botones y estilo dentro de la barra lateral */
.sidebar h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: right; /* Alinea el texto de los títulos hacia la derecha */
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px; /* Mayor tamaño para un efecto más estilizado */
  border-radius: 8px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Añadimos transformaciones y sombras */
  text-align: center; /* Centra el texto */
  display: inline-block;
}

.sidebar button:hover {
  background-color: rgba(85, 85, 85, 0.22); /* Color de fondo más sutil al hacer hover */
  transform: scale(1.1); /* Efecto de zoom */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil al hacer hover */
}

.sidebar button:active {
  transform: scale(1); /* Al hacer clic, el zoom se reduce */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Menos sombra al hacer clic */
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; } /* Reduce opacidad en el medio */
  100% { opacity: 1; }
}

.sidebar-separator {
  position: absolute;
  top: 15px;
  right: -45px;
  width: 70px;
  height: 30px;
  z-index: 0;
  clip-path: inset(0 0 0 25px); /* Recorta 15px desde la izquierda */
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5); /* Sombra en el lado derecho */
  animation: blink 2.0s infinite ease-in-out; /* Aplica la animación */
}



/* Estilo para el botón de navegación en el header */
.navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.navbar button:hover {
  background-color: #7dc6d367;
  transform: translateY(-3px);
}

.navbar button:active {
  transform: translateY(1px); 
}

.navbar button:focus {
  outline: none;
}

.navbar button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar button:hover::before {
  width: 100%;
  left: 0;
}

.logo img {
  width: 300px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantiene la relación de aspecto */
  position: fixed;
  top: 0px;
  left: 0px;
  transition: opacity 0.5s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición suave */
  position: -webkit-sticky; /* Para compatibilidad con navegadores webkit */
  position: sticky;
}

/* Efecto de desvanecimiento cuando se hace scroll */
.logo.scroll img {
  opacity: 0.8; /* Reduce la opacidad */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9); /* Sombra más suave */
  
}

/* Asegúrate de que los botones tengan el mismo estilo */
.navbar .nav-link {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative; /* Necesario para el posicionamiento del menú desplegable */
}

/* Estilo del contenedor de la lista desplegable (sólo para el botón TODOS) */
.navbar .nav-link.dropdown {
  position: relative;
}

/* Menú desplegable */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2d3235;
  color: white;
  list-style-type: none;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Asegura que el menú se muestre encima de otros elementos */
  opacity: 0; /* Inicialmente invisible */
  visibility: hidden; /* No ocupa espacio en el layout */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transiciones de opacidad y visibilidad */
}

/* Mostrar el menú con el desvanecimiento */
.navbar .nav-link.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu li {
  padding: 0.8rem 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li:hover {
  background-color: #77c8d3;
  color: #333;
  border-radius: 5px;
}

/* Asegúrate de que todos los botones en la barra de navegación estén alineados */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

/* Modo móvil (menos de 766px de ancho) */
@media (max-width: 766px) {
  /* Header principal en dispositivos móviles */
.header {
  flex-direction: column; /* Cambia a columna para apilar elementos */
  align-items: center; /* Alinea los elementos hacia el centro */
  justify-content: center; /* Centra los elementos verticalmente */
  height: auto; /* Ajusta la altura */
  transition: transform 0.3s ease-in-out; /* Transición suave */
  padding: 0; /* Eliminado el padding */
}

.header.hidden {
  transform: translateY(-100%); /* Oculta el header moviéndolo hacia arriba */
}


  /* Pseudo-elemento para el borde animado */
  .header::before {
    width: 100%; /* Ajusta el ancho al 100% */
    content: "";
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px; /* Aumenta el tamaño para que parezca un borde */
    background: linear-gradient(to bottom, #000000 50%, #1c6f7a, #38c9b6, #279ead, #38c9b6, #1c6f7a); /* Cambiar la dirección a vertical */
    background-size: 100% 300%; /* Aumentamos la altura para la animación */
    background-position: 0% 0%; /* Comienza desde la parte superior */
    z-index: -1; /* Lo pone detrás del header */
    border-radius: 5px; /* Bordes redondeados */
    animation: animate-border 7s ease-in-out infinite; /* Animación suave */
  }
  
  @keyframes animate-border {
    0% { background-position: 0% 0%; }
    50% { background-position: 0% 100%; } /* Baja hacia abajo */
    100% { background-position: 0% 0%; } /* Vuelve a la parte superior */
  }

  /* Navbar en dispositivos móviles */
  .navbar {
    display: flex;
    flex-direction: column-reverse; /* Invierte el orden de los elementos */
    align-items: center; /* Alinea los botones al centro */
    gap:0px;
  }

  .navbar button {
    width: 100%; /* Hace que los botones ocupen todo el ancho disponible */
    padding: 10px 0; /* Agrega más espacio vertical a los botones */

  }
  .logo {
    width: 100%;  /* El logo ocupará todo el ancho de la pantalla */
    height: 14.5vh;  /* El logo ocupará el 20% del alto de la pantalla */
    display: flex;
    justify-content: center;  /* Centra el logo horizontalmente */
    align-items: center;  /* Centra el logo verticalmente */
  }

  .logo img {
    width: 100%;  /* Mantiene el ancho del logo proporcional */
    height: 100%;  /* Hace que el logo ocupe el 100% del contenedor en altura */
  }

  /* Barra lateral en dispositivos móviles */
  .sidebar {
    position: fixed;
    top: 275px; /* Ajusta la posición superior */
    left: -35%; /* Esconde la barra lateral fuera de la pantalla */
    width: 120px; /* Ajusta el tamaño de la barra lateral */
    height: 100%; /* Mantiene la altura completa */
    padding: 5px; /* Ajusta el padding para espacio interno */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    gap: 10px; /* Reduce el espacio entre los elementos */
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
    opacity: 0.95;
  }

  /* Mostrar la barra lateral cuando se active */
  .sidebar.active {
    left: 0; /* Mueve la barra lateral hacia la vista */
  }

  .sidebar h3 {
    font-size: 1rem; /* Reduce el tamaño del texto */
  }

  .sidebar button {
    font-size: 0.9rem; /* Reduce el tamaño de los botones */
    padding: 5px; /* Reduce el padding de los botones */
  }

  .sidebar-separator {
    position: absolute;
    top: 15px;
    right: -50px;
    width: 90px;
    height: 30px;
    z-index: 0;
    clip-path: inset(0 0 0 25px); /* Recorta 15px desde la izquierda */
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5); /* Sombra en el lado derecho */
    animation: blink 2.0s infinite ease-in-out; /* Aplica la animación */
  }
}
