/* Header principal */
.header {
  position: -webkit-sticky; /* Para compatibilidad con navegadores webkit */
  position: sticky;
  top: 0; /* Fija el header en la parte superior */
  width: 100%;
  background: linear-gradient(to right, #000000, #0c0b18, #279ead); /* Negro → Morado → Azul */
  color: white;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: background 0.3s ease-in-out, opacity 0.5s ease; /* Transición suave */
  z-index: 1000; /* Mantiene el header sobre otros elementos */
  opacity: 1; /* Inicialmente visible */
}


/* Efecto de desvanecimiento cuando se hace scroll */
body.scroll .header {
  opacity: 0.8; /* Opacidad reducida cuando se hace scroll */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9); /* Sombra más suave al hacer scroll */
}

/* Logo */
.logo h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform 0.3s ease;
}

.logo h1:hover {
  transform: scale(1.1); /* Aumenta el tamaño del logo al pasar el ratón */
}

/* Barra lateral */

.sidebar {
  z-index: 1000;
  position: fixed;
  top: 99px; /* Mueve la barra lateral hacia abajo desde la parte superior */
  left: -270px; /* Barra lateral inicialmente escondida */
  width: 250px;
  height: calc(100% - 0px); /* Ajusta la altura para que se reduzca desde arriba */
  background: linear-gradient(to bottom, #000000, #0c0b18, #279ead); /* Negro → Morado → Azul */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Centra los elementos en el eje vertical */
  align-items: flex-end; /* Pega los elementos a la parte derecha */
  gap: 15px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
  opacity: 0.95;
}


/* Agranda la barra lateral al pasar el cursor */
.sidebar:hover {
  transform: translateX(150px); /* Mueve la barra lateral a la vista */
}

/* Botones y estilo dentro de la barra lateral */
.sidebar h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: right; /* Alinea el texto de los títulos hacia la derecha */
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px; /* Mayor tamaño para un efecto más estilizado */
  border-radius: 8px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Añadimos transformaciones y sombras */
  text-align: center; /* Centra el texto */
  display: inline-block;
}

.sidebar button:hover {
  background-color: rgba(85, 85, 85, 0.22); /* Color de fondo más sutil al hacer hover */
  transform: scale(1.1); /* Efecto de zoom */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil al hacer hover */
}

.sidebar button:active {
  transform: scale(1); /* Al hacer clic, el zoom se reduce */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Menos sombra al hacer clic */
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; } /* Reduce opacidad en el medio */
  100% { opacity: 1; }
}

.sidebar-separator {
  position: absolute;
  top: 15px;
  right: -45px;
  width: 70px;
  height: 30px;
  z-index: 0;
  clip-path: inset(0 0 0 25px); /* Recorta 15px desde la izquierda */
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5); /* Sombra en el lado derecho */
  animation: blink 2.0s infinite ease-in-out; /* Aplica la animación */
}



/* Estilo para el botón de navegación en el header */
.navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.navbar button:hover {
  background-color: #7dc6d367;
  transform: translateY(-3px);
}

.navbar button:active {
  transform: translateY(1px); 
}

.navbar button:focus {
  outline: none;
}

.navbar button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar button:hover::before {
  width: 100%;
  left: 0;
}

.logo img {
  width: 300px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantiene la relación de aspecto */
  position: fixed;
  top: 0px;
  left: 0px;
  transition: opacity 0.5s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición suave */
  position: -webkit-sticky; /* Para compatibilidad con navegadores webkit */
  position: sticky;
}

/* Efecto de desvanecimiento cuando se hace scroll */
.logo.scroll img {
  opacity: 0.8; /* Reduce la opacidad */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9); /* Sombra más suave */
  
}

/* Asegúrate de que los botones tengan el mismo estilo */
.navbar .nav-link {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative; /* Necesario para el posicionamiento del menú desplegable */
}

/* Estilo del contenedor de la lista desplegable (sólo para el botón TODOS) */
.navbar .nav-link.dropdown {
  position: relative;
}

/* Menú desplegable */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2d3235;
  color: white;
  list-style-type: none;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Asegura que el menú se muestre encima de otros elementos */
  opacity: 0; /* Inicialmente invisible */
  visibility: hidden; /* No ocupa espacio en el layout */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transiciones de opacidad y visibilidad */
}

/* Mostrar el menú con el desvanecimiento */
.navbar .nav-link.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu li {
  padding: 0.8rem 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li:hover {
  background-color: #77c8d3;
  color: #333;
  border-radius: 5px;
}

/* Asegúrate de que todos los botones en la barra de navegación estén alineados */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  /* Header principal en dispositivos móviles */
  .header {
    padding-top: 5px; /* Reduce el espacio superior para ajustarse a la pantalla */
    flex-direction: column; /* Cambia a columna para apilar elementos */
    align-items: center; /* Alinea los elementos hacia la izquierda */
    padding: 10px; /* Agrega espacio interno */
  }

  .logo h1 {
    font-size: 1.5rem; /* Reduce el tamaño del logo */
    margin-left: 0; /* Elimina el margen izquierdo */
  }

  /* Ajustar sombras y efectos */
  .header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); /* Sombra más ligera */
    width: 200%;
  }
  
  .logo img {
    width: 350px; /* Ajusta el tamaño del logo en dispositivos pequeños */
  }
 /* Barra lateral en dispositivos móviles */
 .sidebar {
  position: fixed;
  top: 160px; /* Ajusta la posición superior */
  left: -20%; /* Esconde la barra lateral fuera de la pantalla */
  width: 100px; /* Ajusta el tamaño de la barra lateral */
  height: 100%; /* Mantiene la altura completa */
  padding: 15px; /* Ajusta el padding para espacio interno */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Alinea los elementos a la izquierda */
  gap: 10px; /* Reduce el espacio entre los elementos */
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
  opacity: 0.95;
}

/* Mostrar la barra lateral cuando se active */
.sidebar.active {
  left: 0; /* Mueve la barra lateral hacia la vista */
}

.sidebar h3 {
  font-size: 1rem; /* Reduce el tamaño del texto */
}

.sidebar button {
  font-size: 0.9rem; /* Reduce el tamaño de los botones */
  padding: 5px; /* Reduce el padding de los botones */
}

.sidebar-separator {
  width: 55%;
}

}
