/* Estilos Generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Asegura que la altura sea como mínimo la de la ventana */
}

/* Contenedor principal que incluye la barra lateral y el contenido */
.container {
  display: flex;
  flex-grow: 1;  /* Esto hace que el contenedor ocupe el espacio restante */
}



.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 1rem;
  height: 100%;
}

.sidebar h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #555;
}

/* Contenido Principal */
.main-content {
  flex-grow: 1;  /* Asegura que el contenido ocupe todo el espacio disponible */
  padding: 0rem;
}

/* Responsividad */
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
  
}

